/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Corpo da página */
body {
  background: linear-gradient(135deg, #f0f4f8 0%, #d9e2ec 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Container principal */
.form-container, .container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 40px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
}

/* Títulos */
h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Tooltip */
.tooltip-icon {
  font-size: 1rem;
  margin-left: 10px;
  color: #6c757d;
  cursor: pointer;
  position: relative;
}

.tooltip-icon:hover {
  color: #343a40;
}

.tooltip {
  background-color: #aa965f;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(5px);
  z-index: 1000;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: max-content;
}

.tooltip::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #aa965f transparent;
  z-index: 1001;
}

/* Grupo de formulário */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #495057;
}

/* Controle de formulário */
.form-control {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1rem;
  margin: 0 auto;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/* Botões */
.btn-success, .btn-secondary, .btn-primary, .btn-warning, .btn-danger {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-secondary {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #0056b3;
}

.btn-primary {
  background-color: #000000;
  color: #fff;
  text-decoration: none; /* Remove o sublinhado */
}

.btn-primary:hover {
  background-color: #333333;
}

.btn-warning {
  background-color: #ffc107;
  color: #343a40;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-sm {
  font-size: 0.875rem;
  padding: 5px 10px;
  margin: 0 5px;
  width: auto; /* Ajusta o tamanho para ser menor */
  display: inline-block;
}

/* Tabela */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table thead {
  background-color: #6c757d;
  color: #fff;
}

.table thead th {
  padding: 15px;
  text-align: left;
  font-size: 1rem;
}

.table tbody tr {
  border-bottom: 1px solid #dee2e6;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table tbody td {
  padding: 15px;
  font-size: 0.9rem;
  color: #495057;
  text-align: center; /* Alinha o conteúdo das células ao centro */
}

/* Layout Responsivo */
@media (max-width: 768px) {
  .table thead {
    display: none;
  }

  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Navbar */
.menu {
  background: linear-gradient(135deg, #000000, #434343);
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu .menu-links {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 40px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  transition: box-shadow 0.3s ease;
  border-radius: 5px;
}

.menu a:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.menu a.active {
  background-color: #fd7e14;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.menu .logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}

.menu .logo-img {
  height: 80px;
  transform: translateY(10px);
  object-fit: contain;
}

/* Avatar e Dropdown */
.avatar-container {
  position: relative;
}

.avatar-icon {
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdown-menu a {
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #495057;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .menu .menu-links {
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }

  .menu .logo-container {
    width: 100%;
    justify-content: center;
  }
}

/* Footer */
.footer {
  background-color: #6c757d;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  left: 0;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1050;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1040;
}

/* Conteúdo do Modal */
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent h2 {
  margin-bottom: 20px;
}

.modalContent p {
  margin-bottom: 20px;
}

.modalContent .icon {
  font-size: 3rem;
  color: #dc3545;
  margin-bottom: 20px;
}

.modalContent .successIcon {
  font-size: 3rem;
  color: #28a745;
  margin-bottom: 20px;
}

.modalButtons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.btn-success, .btn-secondary {
  width: 45%;
}

/* Estilização da Página Inicial */
.inicial-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.stat-box {
  flex: 1 1 30%;
  height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.stat-box p {
  font-size: 2.5rem;
  margin: 0;
}

.stat-box-blue {
  background-color: #fd7e14;
}

.stat-box-green {
  background-color: #28a745;
}

.stat-box-orange {
  background-color: #fd7e14;
}

.stat-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.charts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 60px;
}

.chart {
  width: 95%;
  height: 300px;
}

.chart h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .inicial-container {
    flex-direction: column;
    align-items: center;
  }

  .stat-box {
    margin-bottom: 20px;
    width: 100%;
  }

  .charts-container {
    width: 100%;
  }

  .chart {
    width: 100%;
  }
}